pyOpenSSL
streamlit
streamlit_option_menu
streamlit_extras
streamlit-cookies-manager
pandas
numpy
plotly==5.20.0
sqlalchemy
psycopg2-binary  # If using PostgreSQL, otherwise change as needed
deep-translator
openai
python-dotenv
passlib
flask
flask-login
flask-sqlalchemy
flask-wtf
wtforms
werkzeug
jwt
dateutil
requests
